@import '../../../index.scss';

.sidebar_container {
  .sidebar_wrapper {
    .app_logo_caontainer {
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding-bottom: 1em;
      .app_logo_image {
        margin: 2em 0;
      }
    }
    .sidebar_item_container {
      margin: 5px;
      border-radius: 14px;
      cursor: pointer;
      color: $text-light;
      .sidebar_item_wrapper {
        display: flex;
        width: 90%;
        height: 50px;
        align-items: center;
        padding-left: 2em;
        .sidebar_icon_container {
          padding-right: 20px;
          display: flex;
        }
        .sidebar_label_container {
          .sidebar_label {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }
    .sidebar_item_container:hover {
      background-color: $primary;
      color: white;
      .sidebar_icon {
        filter: brightness(0) invert(1);
      }
    }
    .active {
      background-color: $primary;
      color: white !important;
      .sidebar_icon {
        filter: brightness(0) invert(1);
      }
    }
  }
}
